*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
}

body{
    background-color:rgba(118, 118, 230, 0.393);
}

.container{
    justify-content: center;
    display: block;
    align-items: center;
    height: 100vh;
}

.form-box {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.167);
    width: 100%;
    max-width: 400px;
}

.btn {
    margin-top: 2rem;
}